{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container narrow" id="login">
        <svg class="blob" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg"
             viewBox="10 10 180 170">
            <!--'M709.498 158c-171.062 0-336.86 170.013-414.112 244.508-81.05 78.16-220.906 117.187-220.906 306.215 0 237.322 163.682 598.787 348.781 514.902 126.72-57.429 183.931-99.993 253.844-275.484 54.084-135.757 210.296-193.167 210.296-420.15C887.4 290.672 946.747 158 709.498 158z',-->
            <path id="personalBlob" d="M 82 22
    C 120 20, 136 30, 145 54
    S 156 94, 132 115
    S 83 144, 57 124
    S 16 81, 34 54
    S 44 24, 82 22"></path>
        </svg>
        <transition name="login">
            <form action="" method="post" class="login-form" v-if="!isRegistering">
                {% csrf_token %}
                <div class="input-field">
                    <input type="email" id="id_login_email" name="email" placeholder="E-post">
                    <label for="id_password">E-post</label>
                </div>
                <div class="input-field">
                    <input type="password" id="id_login_password" name="password" placeholder="Passord">
                    <label for="id_login_password">Passord</label>
                </div>
                <input type="submit" class="button" value="Logg inn">
            </form>
        </transition>
        <button id="register" class="button primary" @click="isRegistering = true">Registrer ny bruker</button>
        {#        <p>--- OR ---</p>#}
        {#        <a href="{% url 'social:begin' 'google-oauth2' %}" class="button">Google</a>#}
        <form action="" method="post" id="register-form" v-if="isRegistering">
            <div class="input-field">
                <input type="text" name="firstname" id="id_firstname" placeholder="Fornavn" v-model="firstname"
                       @input="generateHash()">
                <label for="id_firstname">Fornavn</label>
            </div>
            <div class="input-field">
                <input type="text" name="lastname" id="id_lastname" placeholder="Etternavn" v-model="lastname"
                       @input="generateHash()">
                <label for="id_firstname">Etternavn</label>
            </div>
            <div class="input-field">
                <input type="text" name="email" id="id_email" placeholder="E-post" v-model="email"
                       @input="generateHash()">
                <label for="id_email">Fornavn</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="id_password" placeholder="Passord">
                <label for="id_password">Fornavn</label>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/blob.js' %}"></script>
    <script>
        let vue = new Vue({
            el: '#login',
            delimiters: ['[{', '}]'],
            data: {
                firstname: '',
                lastname: '',
                email: '',
                isRegistering: false
            },
            methods: {
                changeBlob: function () {
                    let k = Math.random() * 20;
                    generateNewBlob(k);
                },
                generateHash: function (s) {
                    hashCode(this.firstname + this.lastname + this.email);
                    generateNewBlob();
                }
            }
        })
    </script>
{% endblock %}