#login {
  margin-top: 10%;
  text-align: center;
  position: relative;
  #blob {
    max-width: 240px;
    max-height: 240px;
    margin: 0 auto;
    object-fit: fill;
    display: block;

    &.headerBlob {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-25%);
      max-width: 5rem;
      max-height: 5rem;
    }
  }
  .input-field {
      width: 350px;
      margin-right: auto;
      margin-left: auto;
    }
  .login-form {
  }
  .button {
    margin: 1rem auto;
  }
  .select-things {

    h2 {
      padding-right: 5rem;
      margin-bottom: 2rem;
      display: inline-block;
      font-size: 2rem;
    }
    p {
      max-width: 43ch;
      margin: 0 auto 1rem;
    }

    .things {
      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
      }

      .filter-icon {
        position: relative;
        cursor: pointer;
        width: 6rem;
        @include no-select;
        img:not(.blob) {
          display: block;
          margin: 1rem auto;
        }
        &.selected img.blob {
          transform: translate(-50%, -50%) scale(1);
        }
        img.blob {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 6rem;
          width: 6rem;
          transform: translate(-50%, -50%) scale(0);
          transition: transform 200ms $bounce-transition;
          z-index: -1;
        }
        &:hover::after {
          transform: translate(-50%, -50%) scale(1);
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 45%;
          transform: translate(-50%, -50%) scale(0);
          width: 5rem;
          height: 5rem;
          border-radius: 400px;
          background-color: $extra-light-gray;
          z-index: -2;
          transition: transform 200ms $bounce-transition;
        }
      }
    }
  }
}