#search-results {
  .results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .gym-card {
    background-color: $extra-light-gray;
    box-shadow: $low-shadow;
    padding: 1rem;
    border-radius: $main-border-radius;
    overflow: hidden;

    > img {
      position: relative;
      width: calc(100% + 2rem);
      top: -1rem;
      left: -1rem;
    }

    .filters {
      color: $primary-color;
      margin-bottom: 1rem;

      div {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        img {
          width: 16px;
          margin-right: 0.5rem;
        }
      }
    }
  }
}