html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  margin: 8% auto;
  width: 95%;
  @media screen and (min-width: $md) {
    max-width: $xxl;
    &.narrow {
      max-width: $md;
    }
  }
}

img {
  @include no-select;
}

