html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  margin: 10rem auto 8%;
  width: 95%;
  @media screen and (min-width: $md) {
    max-width: $xxl;
    &.narrow {
      max-width: $md;
    }
  }
}

img {
  @include no-select;
}

hr {
    margin: 4rem auto;
    width: 80%;
    border-width: 2px;
    border-color: $extra-light-gray;
    border-style: solid;
  }