// Colors:
$primary-color: #000051;
$primary-light-color: #1A237E;
$accent-color: #FF5771;
$accent-dark: #BB002F;
$accent-light: #FFEFF3;

$extra-light-gray: #EFEFEF;
$light-gray: #9D9D9D;
$gray: #555555;

$error: red;

$main-border-radius: 20px;

$bounce-transition: cubic-bezier(0.28, 0, 0.48, 1.5);

// Responsive
$xxs: 20em; // (320px)
$xs: 30em; // (480px)
$sm: 37.5em; // (600px)
$md: 48em; // (768px)
$lg: 56.25em; // (900px)
$xl: 68.75em; // (1100px)
$xxl: 81.25em; // (1300px)