/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: calc(0.9615384615vw + 26.4615384615px); }

h2 {
  font-size: calc(1.4423076923vw + 15.6923076923px); }

h3 {
  font-size: calc(0.9615384615vw + 14.4615384615px); }

h4, h5, h6 {
  font-size: calc(0vw + 20px); }

p {
  font-size: 1rem;
  line-height: 1.5em; }

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.container {
  margin: 0 auto;
  width: 95%; }
  @media screen and (min-width: 48em) {
    .container {
      max-width: 81.25em; }
      .container.narrow {
        max-width: 48em; } }

img {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

nav#nav {
  position: fixed;
  top: 4rem;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  display: flex;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
  nav#nav a {
    margin-right: 3.5rem; }
  nav#nav a#logo {
    color: #FF5771;
    font-weight: 500;
    margin-right: auto; }
  nav#nav a.login {
    position: relative; }
    nav#nav a.login img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1; }

.input-field {
  position: relative;
  margin-bottom: 1.5rem; }
  .input-field:not(.fluid) {
    max-width: 70ch; }
  .input-field input {
    background: white;
    border: 0;
    border-radius: 13.3333333333px;
    padding: 0.8rem 1rem;
    outline: 0;
    font-size: 1rem;
    box-shadow: 0 0 0 2px #9D9D9D;
    color: #9D9D9D;
    transition: box-shadow 100ms ease-in-out;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .input-field input:hover {
      box-shadow: 0 0 0 2px #1A237E; }
    .input-field input:focus, .input-field input:not(:placeholder-shown) {
      border-color: #000051;
      color: #000051;
      box-shadow: 0 0 0 2px #000051; }
    .input-field input + label {
      position: absolute;
      top: 0;
      left: calc(1rem - 4px);
      transition: top 100ms ease-in-out;
      z-index: -1;
      font-size: 0.8rem;
      color: #000051;
      background: white;
      padding: 0 4px; }
      .input-field input + label i.material-icons {
        position: relative;
        font-size: 1rem;
        top: 2px; }
    .input-field input:not(:placeholder-shown) + label {
      display: block;
      top: -0.4rem;
      z-index: 10; }

.button {
  display: block;
  border: 2px solid #000051;
  color: #000051;
  font-size: 1rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  outline: 0;
  cursor: pointer;
  font-weight: 500;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .button:hover {
    transform: scale(1.02); }
  .button:active {
    transform: scale(0.98); }
  .button.primary {
    border: 0;
    background-color: #000051;
    color: white; }

#blob {
  fill: #FF5771; }

.arrow-link {
  color: #FF5771;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 500; }
  .arrow-link:hover img {
    transform: translateX(5px); }
  .arrow-link img {
    transition: transform 200ms cubic-bezier(0.28, 0, 0.48, 1.5);
    margin-right: 1rem; }

#landingpage .landing-screen {
  height: 80vh;
  background-color: #000051;
  position: relative; }
  @media screen and (max-width: 68.75em) {
    #landingpage .landing-screen {
      display: none; } }
#landingpage .landing-text {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%; }
  #landingpage .landing-text p, #landingpage .landing-text a {
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-top: 4rem; }
#landingpage #main-illustration {
  position: absolute;
  right: 8rem;
  top: 50%;
  transform: translateY(-50%); }
#landingpage .dots {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center; }
  #landingpage .dots .dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #9D9D9D; }
    #landingpage .dots .dot.selected {
      height: 12px;
      width: 12px;
      background-color: #FF5771; }
#landingpage .landing-page-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 2rem;
  padding: 8rem 0 12rem;
  background-color: white; }
  @media screen and (max-width: 68.75em) {
    #landingpage .landing-page-cards {
      grid-template-columns: 1fr; } }
  #landingpage .landing-page-cards .landing-page-card {
    position: relative;
    text-align: center;
    background-color: #000051;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding: 14rem 2rem 2rem; }
    @media screen and (max-width: 68.75em) {
      #landingpage .landing-page-cards .landing-page-card {
        width: 100%;
        text-align: left;
        padding: 2rem 14rem 2rem 2rem; } }
    #landingpage .landing-page-cards .landing-page-card img {
      position: absolute;
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
      max-width: 250px;
      max-height: 200px; }
      @media screen and (max-width: 68.75em) {
        #landingpage .landing-page-cards .landing-page-card img {
          top: 2rem;
          right: 2rem;
          left: auto;
          transform: translateX(0); } }
    #landingpage .landing-page-cards .landing-page-card h3 {
      margin-bottom: 1rem; }
    #landingpage .landing-page-cards .landing-page-card a {
      font-size: 1.125rem;
      font-weight: 500;
      margin-top: 1rem;
      display: block; }
#landingpage .interviews div {
  margin: 4rem 5%;
  color: white;
  position: relative;
  height: 400px;
  padding-left: 550px;
  width: calc(60ch + 550px); }
  #landingpage .interviews div > img {
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: -5rem;
    left: 0; }
  #landingpage .interviews div h2, #landingpage .interviews div p {
    margin-bottom: 1rem; }
  #landingpage .interviews div:last-child {
    padding-left: 0;
    padding-right: 500px;
    text-align: right;
    margin-right: 5%;
    margin-left: auto; }
    #landingpage .interviews div:last-child img {
      left: auto;
      right: 5%; }

#login {
  margin-top: 10%;
  text-align: center;
  position: relative; }
  #login #blob {
    max-width: 240px;
    max-height: 240px;
    margin: 0 auto;
    object-fit: fill;
    display: block; }
    #login #blob.headerBlob {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-25%);
      max-width: 5rem;
      max-height: 5rem; }
  #login .input-field {
    width: 350px;
    margin-right: auto;
    margin-left: auto; }
  #login .button {
    margin: 1rem auto; }
  #login .select-things h2 {
    padding-right: 5rem;
    margin-bottom: 2rem;
    display: inline-block;
    font-size: 2rem; }
  #login .select-things p {
    max-width: 43ch;
    margin: 0 auto 1rem; }
  #login .select-things .things .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
  #login .select-things .things .filter-icon {
    position: relative;
    cursor: pointer;
    width: 6rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    #login .select-things .things .filter-icon img:not(.blob) {
      display: block;
      margin: 1rem auto; }
    #login .select-things .things .filter-icon.selected img.blob {
      transform: translate(-50%, -50%) scale(1); }
    #login .select-things .things .filter-icon img.blob {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 6rem;
      width: 6rem;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 200ms cubic-bezier(0.28, 0, 0.48, 1.5);
      z-index: -1; }
    @media screen and (min-width: 56.25em) {
      #login .select-things .things .filter-icon:hover::after {
        transform: translate(-50%, -50%) scale(1); } }
    #login .select-things .things .filter-icon::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%) scale(0);
      width: 5rem;
      height: 5rem;
      border-radius: 400px;
      background-color: #EFEFEF;
      z-index: -2;
      transition: transform 200ms cubic-bezier(0.28, 0, 0.48, 1.5); }

/*# sourceMappingURL=stylesheet.css.map */
