.button {
  display: block;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-size: 1rem;
  border-radius: $main-border-radius;
  padding: 1rem 2rem;
  outline: 0;
  cursor: pointer;
  font-weight: 500;
  transition: transform 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }

  &.primary {
    border: 0;
    background-color: $primary-color;
    color: white;
  }
}