.arrow-link {
  color: $accent-color;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 500;

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    transition: transform 200ms $bounce-transition;
    margin-right: 1rem;
  }
}