#hamburger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  @media screen and (min-width: $lg) {
    display: none;
  }
  .bar {
    width: 32px;
    height: 3px;
    border-radius: $main-border-radius;
    background-color: $primary-color;
    margin-bottom: 8px;
  }
}

nav#nav {
  position: fixed;
  top: 4rem;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  display: flex;
  @include no-select;

  @media screen and (max-width: $lg) {
    transform: scaleY(0);
    transform-origin: top;
  }
  @media screen and (max-width: $xl) {
    color: $primary-color;
    font-size: 1.2rem;
  }

  a {
    margin-right: 3.5rem;
  }

  a#logo {
    color: $accent-color;
    font-weight: 500;
    margin-right: auto;
  }

  a.login {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}