{% load static %}

<!doctype html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="icon" href="{% static 'icons/Logo.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Koble</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/1.6.2/kute.min.js"></script> <!-- core KUTE.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/1.6.2/kute-svg.min.js"></script>
<script src="{% static 'js/ajaxSetup.js' %}"></script>
<script src="{% static 'js/fileInput.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>